body{
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    font-size: 14px;
    background-color: aliceblue;
}

*{
    font-family: 'Arial';
}

#ficha{
    background-color: rgb(230, 230, 186);
    border-radius: 10px;
    padding: 20px 60px;
    text-align: center;
    display: flex;
    flex-direction: column;
    > div{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

#fichapronta{
    background-color: rgb(230, 230, 186);
    border-radius: 10px;
    padding: 20px 60px;
    display: none;
}

.perfil{
    display: flex;
    gap: 20px;
}

.perfil img{
    height: 115px;
    width: 115px;
    background-color: rgb(160, 167, 138);

}

.titulo{
    margin: 0;
    margin-bottom: 15px;
}

input, select{
    margin: 5px;
    padding: 6px 9px;
    background-color: rgb(184, 183, 146);
    border: none;
    border-radius: 30px;
}

button{
    padding: 10px;
    background-color: black;
    color: rgb(221, 220, 220);
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
}

button:hover{
    background-color: rgb(185, 171, 133);
    font-size: 15px;
}